@page
@model AdministracionDePersonal.Pages.ParteOferente.ContratarModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contratar oferente";
}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Contratar oferente</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item active">Contratar oferente</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                </div>
                <div class="card-body">
                <table id="datatablesSimple" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>IdOferente</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>TipoIdentificacion</th>
                                <th>FechaNacimiento</th>
                                <th>EstadoCivil</th>
                                <th>Nacionalidad</th>
                                <th>IdDistrito</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Oferentes){
                                <tr>
                                    <td>@item.IdOferente</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Direccion</td>
                                    <td>@item.TipoIdentificacion</td>
                                    <td>@item.FechaNacimiento</td>
                                    <td>@item.EstadoCivil</td>
                                    <td>@item.Nacionalidad</td>
                                    <td>@item.IdDistrito</td>
                                    <td>
                                    <a href="@Url.Page("/ParteOferente/ElegirPuesto", new { id = item.IdOferente })" class="btn btn-primary">Contratar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="~/js/datatables-simple-demo.js"></script>
